@import "@fontsource/ibm-plex-sans/latin-400.css";
@import "@fontsource/ibm-plex-sans/latin-ext-400.css";
@import "@fontsource/ibm-plex-sans/latin-400-italic.css";
@import "@fontsource/ibm-plex-sans/latin-ext-400-italic.css";

@font-face {
  font-family: "Saans";
  src: url("./fonts/saans/Saans-TRIAL-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans";
  src: url("./fonts/saans/Saans-TRIAL-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Saans";
  src: url("./fonts/saans/Saans-TRIAL-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans";
  src: url("./fonts/saans/Saans-TRIAL-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Concrette";
  src: url("./fonts/concrette/ConcretteM-TRIAL-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Concrette";
  src: url("./fonts/concrette/ConcretteM-TRIAL-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Concrette";
  src: url("./fonts/concrette/ConcretteM-TRIAL-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Concrette";
  src: url("./fonts/concrette/ConcretteM-TRIAL-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
